* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'points', sans-serif;
    cursor: pointer;
}

#wrapper {
    /* Kích thước màn hình là 1280 x 720 */
    width: 100%;
    height: 100vh;
}

#header {
    width: 100%;
    padding: 0px 30px;
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu {
    list-style: none;
    display: flex;
}

#menu .item a {
    margin: 0px 25px;
}

#menu .item a {
    color: #626a67;
    text-decoration: none;
}

#actions {
    display: flex;
}

#actions .item {
    margin-left: 22px;
}




#banner {
    width: 100%;
    background-image: url("ảnh/thực đơn tiệc cưới 1.png");
    height: 463px;
    margin-top: 40px;
    display: flex;
    padding: 0px 133px;
    position: relative;

}